<h1 class="pt-4 name_title">Order Manage </h1>
<div class="container d-flex p-2 bd-highlight">
    <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Stt</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Create Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody class="table-data-categori render_category">
          <tr>
            <th scope="row">1</th>
            <td>Name</td>
            <td>Email</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Create Date</td>
            <td><a href="">Chi Tiết</a></td>
            <td>Xóa</td>
          </tr>
        </tbody>
        <!-- <div>
          <button>revenir</button>  
        </div> -->
      </table>    
</div>